.--content {
  width: 100%;
  display: flex;
  gap: 0.2rem;
  height: 110vh; /* Ensure the parent container has a height */
}

.--sections {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  overflow-y: auto; /* Ensure vertical scrollbar is present */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  height: 100%; /* Ensure sections take full height of the parent */
}

.--sections::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}