/* Specific styles for LoginForm component */
.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    margin-top: 10vh;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
  }
  
  button.submit-button {
    padding: 12px;
    background-color: #036;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button.submit-button:hover {
    background-color: #014d98;
  }
  
  .toggle-link {
    text-align: center;
    color: #4CAF50;
    cursor: pointer;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .toggle-link:hover {
    text-decoration: underline;
  }
  
  /* Responsive styling for smaller screens */
  @media (width <= 768px) {
    .login-form-container {
      padding: 15px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input {
      font-size: 14px;
      padding: 8px;
    }
  
    button.submit-button {
      font-size: 14px;
    }
  }